*{margin: 0px;
 padding: 0px;
}
h3,h2,p,.price{
    font-family: 'roboto',sans-serif;
    ;
}
h1{
    font-family: 'Shrikhand', cursive ;
    font-size: xx-large
    ;
}











/* ****************************************MENU A LA FRANCAISE**************************************** */
.header-container-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.arrow-left{
    font-size: x-large;
}
.img-bg > img{
    height: 250px;
    background-size: contain;
    background-attachment: fixed;
    width: 100%;
}
.menu-choose{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 1px 6px -1px #ddd9d9f7;
    height: 77px;
}
span.price-check{
    display: none;
    background-color: #99E2D0;
    width: 50ppx;
    height: 77px;
    width: 60px;
    display: flex;
    border-radius: 0 15px 15px 0;
    justify-content: center;
    align-items: center;
}
.group-text:hover,
span.price-check

div.menu-choose > p{
    padding-bottom: 5px;
}
.card-menu{
    display: flex;
justify-content: space-around;
padding-top: 20px;
}

 .info-menu{
    background-color: #ddd9d961;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -52px;
    padding-left: 10px;
    width: 90%;


 }
.heart-menu > .fa-regular.fa-heart {
        
        font-size: xx-large;
}

.input-order{
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    border: none;
    height: 42px;
    width: 182px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
}
h2{
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: underline;
    text-decoration-color: #99E2D0;
}
.group-text{
    margin-bottom: 5px;
    margin-left: 10px;
}
.group-price{
    display: flex;
    align-items: baseline;
}
.price{
    font-weight: bold;
}
.group-menu{
    padding-left: 5px;
    padding-right: 5px;
}
i.fa-solid.fa-check{
    background-color: white;
    border-radius: 30px;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #99E2D0;
}