/* Regles générales */


h1,h2,h3{
    font-family: 'Shrikhand', cursive ;
}
p{
    font-family: 'roboto',sans-serif;
}
section{
    padding-left: 30px;
}














.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 45%;
    padding-bottom: 20px ;
}

#form {
    display: flex;
    background-color: #f2f2f2e9;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-top: 2px solid #dddadab4;
    padding-left: 50px;
}

input.search {
    border: none;
    font-weight: bolder;
    background-color: #f2f2f2;
    padding-left: 10px;
}
section.number-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.para{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.title > h1,p{
    margin: 0;
    
}
#input-explore{
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    border: none;
    height: 42px;
    width: 182px;
    color: white;
}


/*  SECTION FONCTIONNEMENT*/

ol {
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.container-span-fcn{
    display: flex;
    width: 184px;
    height: 63px;
    align-items: center;
    padding-left: 28px;
}
span.icon-fcn{
    border: 2px solid #9356DC ;
    border-radius: 100%;
    display: flex;
    position: absolute;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    margin-left: -13px;
    background-color: #9356DC;

}
span.icon-fcn > i {
    display: flex;
    justify-content: center;
    color: ghostwhite;

}
span.input-fcn{
    border: 2px solid;
    border-radius: 30px;
    height: 56px;
    width: 196px;
    display: flex;
    padding-right: 25px;
    align-items: center;
    background-color: ghostwhite;
    box-shadow: 2px 2px 11px -6px;
    border: none;

}
 span.input-fcn > i{
    padding-left: 30px;
 }
 input{
    border: none;
 }
 i.fa-sharp.fa-solid.fa-store{
color: #9356DC;
 }
 
 /* SECTION 3 : RESTAURANTS */

 .card{
    padding-bottom: 50px;
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas: "img"
                         "cby" ;
 }
 .card-body {
     display: grid;
     grid-area: cby;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 20px;
     grid-template-areas: "h2 h2 h2"
         "sbt sbt hrt";
     background-color: white;
     box-shadow: 0px 1px 8px 0px #646464;
     border-radius: 0px 0px 30px 30px;
 }


 img{
    grid-area: img;
    
 }
 .card > img {
    object-fit: cover;
    object-position: bottom;
    height: 160px;
    border-radius: 30px 30px 0px 0px;
 }
 p{
    grid-area: sbt;
 }
 i.fa-regular.fa-heart{
    grid-area: hrt;
    padding-left: 50px;
 }
 h2{
    grid-area: h2; 
 }
 .new {
    grid-area: nw;
    position: relative;
    top: -223px;
    right: 84px;
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    height: 22px;
    width: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkcyan;
    font-weight: bold;
    border-radius: 3px;
}

.fa-solid.fa-heart {
    display:none ;
 }
 .heart:hover
 .fa-solid.fa-heart{ 
display: block;
background-clip: text;
-webkit-background-clip: text;
color:  #9356DC;
transition-duration: 1s;

 }
 .heart:hover
 .fa-regular.fa-heart{ 
display: none;

 }
 .number-three{
    background-color: #e6e2e2;
 }
 