/* Regles générales */
html{
    width: 768px;
}
















.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    width: 35%;
}
#form{
    background-color: gray;
}