/* Regles générales */
html {
    width: 768px;
}
















.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 19%;
    padding-bottom: 20px ;
}

#form {
    display: flex;
    background-color: #f2f2f2e9;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-top: 2px solid #dddadab4;
    padding-left: 50px;
}

input.search {
    border: none;
    font-weight: bolder;
    background-color: #f2f2f2e9;
    padding-left: 10px;
}